.wrap {
  border-bottom: 1px solid #0a92cf; }

.wrap_bot {
  width: 100%;
  height: 6.25rem;
	border-top:1px solid #dfdfdf;
	}
  .wrap_bot .container_bot {
    background: url("../image/bot_bg.jpg");
    height: 100%;
    display: flex;
    justify-content: space-between; }
    .wrap_bot .container_bot .fl {
      width: 12.6875rem;
      height: 100%; }
      .wrap_bot .container_bot .fl a {
        display: block;
        width: 100%;
        height: 100%; }

.wrap_top {
  width: 100%;
  height: 5rem;
  background: linear-gradient(#0995e4, #0580c6); }
  .wrap_top .container_top {
    background: url("../image/bot_top.jpg");
    height: 100%;
    box-sizing: border-box;
    padding: 1.125rem 0 1rem; }
  .wrap_top .fl {
    width: 10.625rem;
    height: 1.125rem;
    margin-right: 4.25rem; }
    .wrap_top .fl a {
      display: block;
      width: 100%;
      height: 100%; }
  .wrap_top .addWid1 {
    width: 22.875rem; }
  .wrap_top .addWid2 {
    width: 12.75rem; }
  .wrap_top .marBot {
    margin-bottom: 0.8rem; }

.map {
  height: 11.5rem;
  background: url("../image/map.jpg") no-repeat;
  box-sizing: border-box;
  padding-top: 4.75rem; }
  .map .city {
    width: 2rem;
    height: 0.9375rem;
    cursor: pointer;
    float: left;
    margin-left: 2.6875rem;
    margin-bottom: 18px; }
    .map .city a {
      display: block;
      width: 100%;
      height: 100%; }
  .map .clearMar {
    margin-left: 0 !important; }
  .map .threeWidth {
    width: 40px; }
  .map .addMar {
    margin-left: 48px; }

.content {
  width: 100%; }

.container {
  width: 1100px;
  overflow: hidden;
  margin: 0 auto;
  /*background-color: #FFFFFF;*/ }

.contentFirst {
  margin: 20px auto; }

.contentFirstLeft {
  display: inline-block;
  vertical-align: top; }

.contentFirstRight {
  width: 545px;
  height: 374px;
  background-color: #FFFFFF;
  display: inline-block;
  vertical-align: top; }

.rightNav {
  overflow: hidden; }

.line {
  width: 100%;
  display: block;
  margin-top: 5px; }

.book {
  width: 15px;
  height: 17px;
  margin-top: 3px; }

.NAVs {
  font-size: 17px;
  padding-left: 20px;
  margin-top: 10px; }

.boxImages {
  width: 100%;
  height: 331px;
  background-color: #FFFFFF; }

.boxImage {
  width: 100%;
  height: 347px;
  background-color: #FFFFFF; }

.changeNav {
  width: 550px;
  height: 319px;
  display: none; }

.changeNav img {
  width: 100%;
  height: 100%; }

.Notice {
  width: 1100px;
  height: 50px;
  margin: 0 auto;
  background: #FFFFFF;
  overflow: hidden;
  margin-bottom: 25px; }

.NoticeImg {
  width: 17px;
  height: 17px; }

.padLeft {
  padding-left: 25px; }

.fontColor {
  color: #a8a8a8;
  padding-left: 15px; }

.menusBox {
  width: 1100px;
  margin: 10px auto; }

.menus {
  width: 347px;
  height: 374px;
  background-color: #FFFFFF;
  float: left; }

.changeNavs {
  width: 100%;
  height: 348px;
  display: none;
  position: relative; }

.bor_img {
  position: absolute;
  width: 348px;
  height: 2px;
  bottom: 32px;
  background: #fff; }

.menMarLeft {
  margin-left: 29px; }

.changeNavsQ {
  width: 100%;
  height: 348px;
  display: none; }

.changeNavAcitve {
  display: block; }

.COLOR {
  color: red; }

.Notice {
  width: 1100px;
  height: 50px;
  margin: 0 auto;
  background: #FFFFFF;
  overflow: hidden;
  margin-bottom: 25px;
  display: flex;
  align-items: center; }

.NoticeImg {
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-left: 20px; }

.NoticeNew {
  /*width: 500px;*/
  height: 20px;
  /*background-color: yellow;*/
  display: inline-block;
  overflow: hidden;
  margin-left: 40px; }

/*# sourceMappingURL=home.css.map */
