
.biaoqian .jigou{
        	background: url(../image/u31.png)no-repeat;
        	width: 1106px;
			height: 407px;
			position: relative;
			display: blcok;
        	}
        .biaoqian .xinwen{
			background: url(../image/u33.png)no-repeat;
			width: 1106px;
			height: 407px;
			position: relative;
		}
		.biaoqian .zhengwu{
			background: url(../image/u35.png)no-repeat;
			width: 1106px;
			height: 407px;
			position: relative;
		}
		.biaoqian .fuwu{
			background: url(../image/u37.png)no-repeat;
			width: 1106px;
			height: 407px;
			position: relative;
		}
		.biaoqian .hudong{
			background: url(../image/u39.png)no-repeat;
			width: 1106px;
			height: 407px;
			position: relative;
		}
		.biaoqian .shuju{
			background: url(../image/u41.png)no-repeat;
			width: 1106px;
			height: 407px;
			position: relative;
		}
		.biaoqian .zhuanti{
			background: url(../image/u43.png)no-repeat;
			width: 1106px;
			height: 407px;
			position: relative;
		}
		.biaoqian{
			width: 1106px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
	top: 0;
		}
		.biaoqian>div{
						position: absolute;
						top: 210px;
						left: 50%;
						margin-left: -553px;
						display: none;
		z-index: 9999999;
					}
		.jigou>a{
			/* background-color: rgba(0, 0, 0, 0.5); */
			position: absolute;
			cursor: pointer;
		}		.biaoqian .jigou{
			background: url(../image/u31.png) no-repeat;
			width: 1106px;
			height: 407px;
			position: relative;
		}
		.biaoqian .xinwen{
			background: url(../image/u33.png) no-repeat;
			width: 1106px;
			height: 407px;
			position: relative;
		}
		.biaoqian .zhengwu{
			background: url(../image/u35.png) no-repeat;
			width: 1106px;
			height: 407px;
			position: relative;
		}
		.biaoqian .fuwu{
			background: url(../image/u37.png) no-repeat;
			width: 1106px;
			height: 407px;
			position: relative;
		}
		.biaoqian .hudong{
			background: url(../image/u39.png) no-repeat;
			width: 1106px;
			height: 407px;
			position: relative;
		}
		.biaoqian .shuju{
			background: url(../image/u41.png) no-repeat;
			width: 1106px;
			height: 407px;
			position: relative;
		}
		.biaoqian .zhuanti{
			background: url(../image/u43.png) no-repeat;
			width: 1106px;
			height: 407px;
			position: relative;
		}
		.biaoqian .jigou >a{
			display: block;
			cursor: pointer;
		}
		.biaoqian .jigou .hld{
			position: absolute;
			top: 17px;
			left: 30px;
			width: 54px;
			height: 26px;
		
		}
		.biaoqian .jigou .zyzz{
			position: absolute;
			top: 17px;
			left: 415px;
			width: 65px;
			height: 26px;
		
		}
		.biaoqian .jigou .nsjg{
			position: absolute;
			top: 267px;
			left: 415px;
			width: 197px;
			height: 107px;
		
		}
		.biaoqian .jigou .pcjg{
			position: absolute;
			top: 267px;
			left: 643px;
			width: 197px;
			height: 107px;
		
		}
		.biaoqian .jigou .lxfs{
			position: absolute;
			top: 267px;
			left: 872px;
			width: 197px;
			height: 107px;
		
		}
		.biaoqian .xinwen >a{
			display: block;
			cursor: pointer;
		}
		.biaoqian .xinwen .jgdt{
			position: absolute;
			top: 17px;
			left: 30px;
			width: 69px;
			height: 26px;
		
		}
		.biaoqian .xinwen .ldjh{
			position: absolute;
			top: 17px;
			left: 128px;
			width: 114px;
			height: 26px;
		
		}
		.biaoqian .xinwen .xwfb{
			position: absolute;
			top: 18px;
			left: 573px;
			width: 66px;
			height: 26px;
		
		}
		.biaoqian .xinwen .xwfyr{
			position: absolute;
			top: 18px;
			left: 667px;
			width: 85px;
			height: 26px;
		
		}
		.biaoqian .xinwen .zcjd{
			position: absolute;
			top: 203px;
			left: 31px;
			width: 69px;
			height: 26px;
		
		}
		.biaoqian .zhengwu >a{
			display: block;
			cursor: pointer;
		}
		.biaoqian .zhengwu .zfxxgk{
			position: absolute;
			top: 17px;
			left: 33px;
			width: 96px;
			height: 26px;
		}
		.biaoqian .zhengwu .xzxk{
			position: absolute;
			top: 17px;
			left: 574px;
			width: 66px;
			height: 26px;
		
		}
		.biaoqian .zhengwu .gkgd{
			position: absolute;
			top: 70px;
			left: 33px;
			width: 148px;
			height: 47px;
		
		}
		.biaoqian .zhengwu .gkzn{
			position: absolute;
			top: 70px;
			left: 206px;
			width: 148px;
			height: 47px;
		
		}
		.biaoqian .zhengwu .gkml{
			position: absolute;
			top: 70px;
			left: 377px;
			width: 148px;
			height: 47px;
		
		}.biaoqian .zhengwu .ysqgk{
			position: absolute;
			top: 133px;
			left: 33px;
			width: 148px;
			height: 47px;
		
		}.biaoqian .zhengwu .ndbg{
			position: absolute;
			top: 133px;
			left: 206px;
			width: 148px;
			height: 47px;
		
		}
		.biaoqian .zhengwu .xzcf{
			position: absolute;
			top: 17px;
			left: 667px;
			width: 68px;
			height: 26px;
		
		}
		.biaoqian .zhengwu .jgh{
			position: absolute;
			top: 17px;
			left: 757px;
			width: 54px;
			height: 26px;
		
		}
		.biaoqian .zhengwu .ggtz{
			position: absolute;
			top: 204px;
			left: 29px;
			width: 71px;
			height: 26px;
		
		}
		.biaoqian .zhengwu .zcfg{
			position: absolute;
			top: 204px;
			left: 124px;
			width: 71px;
			height: 26px;
		
		}
		.biaoqian .zhengwu .rsxx{
			position: absolute;
			top: 204px;
			left: 218px;
			width: 71px;
			height: 26px;
		
		}
		.biaoqian .hudong >a{
			display: block;
			cursor: pointer;
		}
		.biaoqian .hudong .ftzb{
			position: absolute;
			top: 24px;
			left: 32px;
			width: 66px;
			height: 26px;
		
		}
		.biaoqian .hudong .zqyj{
			position: absolute;
			top: 17px;
			left: 32px;
			width: 70px;
			height: 30px;
		
		}
		.biaoqian .hudong .zjjg{
			position: absolute;
			top: 17px;
			left: 125px;
			width: 70px;
			height: 30px;
		
		}
		.biaoqian .hudong .wsdc{
			position: absolute;
			top: 24px;
			left: 819px;
			width: 71px;
			height: 26px;
		}
		.biaoqian .hudong .zwzx{
			position: absolute;
			top: 292px;
			left: 680px;
			width: 381px;
			height: 82px;
		}
		.biaoqian .fuwu >a{
			display: block;
			cursor: pointer;
		}
		.biaoqian .fuwu .bsfw{
			position: absolute;
			top: 17px;
			left: 32px;
			width: 132px;
			height: 26px;
		}
		.biaoqian .fuwu .chakan{
			position: absolute;
			top: 17px;
			left: 673px;
			width: 68px;
			height: 26px;
		}
		.biaoqian .fuwu .jrxk{
			position: absolute;
			top: 68px;
			left: 673px;
			width: 378px;
			height: 46px;
		}
		.biaoqian .fuwu .rsx{
			position: absolute;
			top: 132px;
			left: 673px;
			width: 378px;
			height: 46px;
		}
		.biaoqian .fuwu .ccx {
			position: absolute;
			top: 197px;
			left: 673px;
			width: 378px;
			height: 46px;
		}
		.biaoqian .fuwu .sycx{
			position: absolute;
			top: 262px;
			left: 673px;
			width: 378px;
			height: 46px;
		}
		.biaoqian .fuwu .zj{
			position: absolute;
			top: 329px;
			left: 673px;
			width: 378px;
			height: 46px;
		}
		.biaoqian .shuju >a{
			display: block;
			cursor: pointer;
		}
		.biaoqian .shuju .sjtb{
			position: absolute;
			top: 24px;
			left: 32px;
			width: 68px;
			height: 26px;
		
		}
		.biaoqian .shuju .tjxx{
			position: absolute;
			top: 24px;
			left: 611px;
			width: 68px;
			height: 26px;
		
		}
		.biaoqian .zhuanti >a{
			display: block;
			cursor: pointer;
		}
		.biaoqian .zhuanti .zt{
			position: absolute;
			top: 252px;
			left: 642px;
			width: 400px;
			height: 26px;
		}
		
		.jg_head{
			width: 3.75rem;
			height: 5.625rem;
			position: absolute;
			left: 10.875rem;
			top: 4.25rem;
		}